.landing-splash
    h1 Battlefront 3
    p Lorem ipsum dolor sit amet, ei sed lobortis corrumpit adipiscing, at vis dictas repudiare. Ea dictas percipit duo. Ullum prompta qui ut. 
    +button("Download","#download", "2")