.landing-splash
    h1.game-title Battlefront 3
    span.game-description Lorem ipsum dolor sit amet, ei sed lobortis corrumpit adipiscing, at vis dictas repudiare. Ea dictas percipit duo. Ullum prompta qui ut. 
    +button("Download","#download")