.subscribe-section
    span.subscribe-title Want to know about new games?
    .subscribe-subsection
        form.search
            input.searchTerm(placeholder='e-mail')
        +button("Subscribe","#subscribe", "btn-black")