#navigation
    .left-nav
        .logo
            .website-logo
                img.nav-log(src="/assets/logo.svg" alt="Logo")
            span.secondary-text
                p Home
        span
            p Games Included
        span
            p Pricing
    .right-nav
            +button("New user","#user")
            +button("Login","#login", "btn-disabled")
