footer {
    width:100vw;
    height:5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-light-background;
    color: $disabled-color;
}

span.footer-text{
    font-weight: $semi-bold;
    font-size: 0.7em;
    
}