* {
    margin: 0;
    padding: 0;
    
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $base-font-family;
}



#title {
	  color: $primary-color;
}

h1 { 
	text-align: center;
    color: $secondary-text;
    font-weight: $bold;
    display: flex;
    z-index: 2;
 }


