mixin button(buttonTitle, link, extraClass, svgLink )
    - extraClass = extraClass || 'btn-accent'
    - svgLink = svgLink || 'none'
    button(class=extraClass href=link)
        if !(svgLink=='none')
            img.svgIcon(src=svgLink)
        p= buttonTitle
