mixin button(buttonTitle, link, extraClass)
    - extraClass = extraClass || 'themeColors'
    button(class='default-button' href=link extraClass = extraClass)
        p= extraClass
        if third = third
            p #{third}
