body
    
    include components/top-navigation.pug
    #landing-wraper
        include components/landing-section.pug
        h2 Your friends are playing
            p This is a post about Pug template engine, enjoy it!
            +button('Ovidiu','https://google.com')
            +button('Ovidiu','https://google.com', 'btn-disabled')
        include components/footer.pug
        