body
    #landing-wraper
        include components/top-navigation.pug
        include components/landing-section.pug
        include components/suggested-section.pug
        include components/subscribe-section.pug
        include components/footer.pug
        