body
    include components/top-navigation.pug
    header
        h1 My soon to be menu
    section
        p This is a post about Pug template engine, enjoy it!
        +button('Ovidiu','https://google.com')
    include components/footer.pug
        