html  
    include head.pug
    body
        header
            h1 My soon to be menu
        section
            p This is a post about Pug template engine, enjoy it!
        footer
            cool footer with lots of copyrights