$primary-color: #A37;
$nav-color: #28313a;

@import "partials/base";

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
		-ms-border-radius: $radius;
			border-radius: $radius;
}


@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
	  -webkit-box-shadow:inset $top $left $blur $color;
	  -moz-box-shadow:inset $top $left $blur $color;
	  box-shadow:inset $top $left $blur $color;
	} @else {
	  -webkit-box-shadow: $top $left $blur $color;
	  -moz-box-shadow: $top $left $blur $color;
	  box-shadow: $top $left $blur $color;
	}
  }

  @mixin rounded($radius: 0.5em) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
	}


body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

a {
font-family: 'Open Sans', sans-serif;
}

#title {
	  color: $primary-color;
}

h1 { 
	text-align: center;
	color: $primary-color;
 }

 #navigation{
	 display: flex;
	 flex-direction: row;
	 justify-content: space-around;
	 background-color: $nav-color;
	 p {
		 display: flex;
	 }
	 .white-text{
		 color: white;
	 }
 }
 
 body button{
	position: relative;
	
	  display: block;
	  margin: 30px auto;
	  padding: 0;
	
	  overflow: hidden;
	
	  border-width: 0;
	  outline: none;
	  @include border-radius(2px);
	  @include box-shadow(0, 1px, 4px, rgba(0, 0, 0, .6));
	  
	  background-color: #2ecc71;
	  color: #ecf0f1;
	  
	  transition: background-color .3s;
 }
